version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8002:8002"
    env_file:
      - .env
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/frontend
    restart: unless-stopped
